Options -Indexes

ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteEngine On

# Redirect old Readers Reflections URLs to the new Reflections URLs
RewriteRule ^readers-reflections/(.*)$ /reflections/$1 [R=301,L]